.App {
  text-align: center;
  font-family: "Arial", sans-serif;
  padding-bottom: 0px;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}

h1 {
  font-weight: normal;
  font-size: 42px;
}

.more {
  font-size: 32px;
  font-family: "Courier New", monospace;
  border: 2px solid #000;
  background-color: #fff;
  padding: 10px 25px;
}
.more:hover {
  background-color: #FDD836;
}
.more:active {
  background-color: #FFEFA9;
}

.flex-grid {
  display: flex;
  justify-content: space-around;
}

.col {
  flex: 1;
}

.colwide {
  flex: 4;
}

.colmedium {
  flex: 3;
}

.colsmall {
    flex: 2;
}

.leftCol {
  text-align: left;
}

.rightCol {
  text-align: right;
}

.left {
  flex: auto;
}

.right {
  flex: auto;
}

.labelInput {
  width:10px;
  text-align: center;
}

.randomizer {
  height: 150px;
  border-radius: 50%;
}

.highlight {
    font-weight: bold;
    background-color: orange !important;
}

.undo {
  margin-top: 200px;
  height: 50px;
  float:right;
}

.warning {
  background-color: red;
  display: inherit;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  border-color: black;
  border-width: 7px;
}

.row {
    width:100%;
    height:45%;
}
.row div {
    width:50%;
    height:45%;
}

.bottom {
    margin-top: 10px;
    padding: 5px;
}

.teamname {
  height: 25px;
  font-size: 20px;
  margin-top: 5px;
}

.playername {
  height: 25px;
  font-size: 12px;
}

input[allocationKey='0'], span[allocationKey='0'] {
    background-color: rgba(255,0,0,1);
}

input[allocationKey='1'], span[allocationKey='1']  {
    background-color: rgb(47, 245, 60);
}

input[allocationKey='2'], span[allocationKey='2']  {
    background-color: rgba(0,0,255,1);
    color: white;
}
input[allocationKey='3'], span[allocationKey='3']  {
    background-color: rgba(100,0,0,1);
    color: white;
}
input[allocationKey='4'], span[allocationKey='4']  {
    background-color: rgba(246, 250, 17);
}
input[allocationKey='5'], span[allocationKey='5']  {
    background-color: rgb(247, 15, 240);
}
input[allocationKey='6'], span[allocationKey='6']  {
    background-color: rgba(6, 64, 10);
    color: white;
}
input[allocationKey='7'], span[allocationKey='7']  {
    background-color: red;
}
input[allocationKey='8'], span[allocationKey='8']  {
    background-color: magenta;
}
input[allocationKey='9'], span[allocationKey='9']  {
    background-color: brown;
}

input[allocationKey], span[allocationKey] {
  font-weight: bold;
  text-align: center;
}

.wipediv {
    float: center;
}

.participantslist {
    flex-direction: row;
    justify-content: space-around;
}

.inline {
    display: inline-grid;
    margin: 15px;
}

.events {
    width: 250px;
    text-align: left;
    font-size: 20px;
    display: grid;
}

.topgrid {
    display: flex;
}

.teamsandevents {
    justify-content: space-evenly !important;
}

.graph {

}