.App {
  text-align: center;
  font-family: "Courier New", monospace;
  width: 100%;
}

h1 {
  font-weight: normal;
  font-size: 42px;
}

.passwords {
  list-style: none;
  padding: 0;
  font-size: 32px;
  margin-bottom: 2em;
}

.more {
  font-size: 32px;
  font-family: "Courier New", monospace;
  border: 2px solid #000;
  background-color: #fff;
  padding: 10px 25px;
}
.more:hover {
  background-color: #FDD836;
}
.more:active {
  background-color: #FFEFA9;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.leftCol {
  text-align: left;
}

.rightCol {
  text-align: right;
}

input[allocationKey='0'] {
    background-color: #85adad;
}

input[allocationKey='1'] {
    background-color: #00ffcc;
}

input[allocationKey='2'] {
    background-color: #ccccff;
}
input[allocationKey='3'] {
    background-color: #cc00ff;
}
input[allocationKey='4'] {
    background-color: #cc0000;
}
input[allocationKey='5'] {
    background-color: #ffcc00;
}
input[allocationKey='6'] {
    background-color: #66ff33;
}
input[allocationKey='7'] {
    background-color: yellow;
}
input[allocationKey='8'] {
    background-color: yellow;
}
input[allocationKey='9'] {
    background-color: yellow;
}
input[allocationKey='10'] {
    background-color: yellow;
}
input[allocationKey='11'] {
    background-color: yellow;
}
input[allocationKey='12'] {
    background-color: yellow;
}
input[allocationKey='13'] {
    background-color: yellow;
}
input[allocationKey='14'] {
    background-color: yellow;
}
input[allocationKey='15'] {
    background-color: yellow;
}
input[allocationKey='16'] {
    background-color: yellow;
}
input[allocationKey='17'] {
    background-color: yellow;
}
input[allocationKey='18'] {
    background-color: yellow;
}
input[allocationKey='19'] {
    background-color: yellow;
}
