.App {
  text-align: center;
  font-family: "Arial", sans-serif;
  padding-bottom: 0px;
}

h1 {
  font-weight: normal;
  font-size: 42px;
}

.more {
  font-size: 32px;
  font-family: "Courier New", monospace;
  border: 2px solid #000;
  background-color: #fff;
  padding: 10px 25px;
}
.more:hover {
  background-color: #FDD836;
}
.more:active {
  background-color: #FFEFA9;
}

.flex-grid {
  display: flex;
  justify-content: space-around;
}

.col {
  flex: 1;
}

.colwide {
  flex: 4;
}

.colmedium {
  flex: 3;
}

.colsmall {
    flex: 2;
}

.leftCol {
  text-align: left;
}

.rightCol {
  text-align: right;
}

.left {
  flex: auto;
}

.right {
  flex: auto;
}

.labelInput {
  width:10px;
  text-align: center;
}

.randomizer {
  height: 100px;
}

.undo {
  margin-top: 200px;
  height: 50px;
  float:right;
}

.warning {
  background-color: red;
  display: inherit;
}

.row {
    width:100%;
    height:45%;
}
.row div {
    width:50%;
    height:45%;
}

.teamname {
  height: 25px;
  font-size: 20px;
  margin-top: 5px;
}

.playername {
  height: 25px;
  font-size: 15px;
}

input[allocationKey='0'] {
    background-color: rgba(255,0,0,1);
}

input[allocationKey='1'] {
    background-color: rgba(0,255,0,1);
}

input[allocationKey='2'] {
    background-color: rgba(0,0,255,1);
    color: white;
}
input[allocationKey='3'] {
    background-color: rgba(100,0,0,1);
    color: white;
}
input[allocationKey='4'] {
    background-color: green;
}
input[allocationKey='5'] {
    background-color: orange;
}
input[allocationKey='6'] {
    background-color: purple;
    color: white;
}
input[allocationKey='7'] {
    background-color: red;
}
input[allocationKey='8'] {
    background-color: magenta;
}
input[allocationKey='9'] {
    background-color: brown;
}
input[allocationKey='10'] {
    background-color: beige;
}
input[allocationKey='11'] {
    background-color: mint;
}
input[allocationKey='12'] {
    background-color: grey;
}
input[allocationKey='13'] {
    background-color: pink;
}
input[allocationKey='14'] {
    background-color: orange;
}
input[allocationKey='15'] {
    background-color: olive;
}
input[allocationKey='16'] {
    background-color: green;
}
input[allocationKey='17'] {
    background-color: navy;
}
input[allocationKey='18'] {
    background-color: purple;
}
input[allocationKey='19'] {
    background-color: white;
}
input[allocationKey] {
  font-weight: bold;
}

.wipediv {
    float: center;
}

.participantslist {
    flex-direction: row;
    justify-content: space-around;
}

.inline {
    display: inline-block;
}

.events {
    width: 250px;
    text-align: left;
    font-size: 20px;
    display: grid;
}

.topgrid {
    display: flex;
    justify-content: flex-end;
}

.teamsandevents {
    justify-content: space-evenly !important; 
}