body {
  margin: 0;
  padding: 0;
  height: 90%;
}

.App {
  background-image: url("euro2020-2.JPG");
  background-position: bottom; 
}

.Own1 {
  background-color: yellow;
}

.Own2 {
  background-color: orange;
}

.Own3 {
  background-color: red;
}

.Other1 {
  background-color: lightgreen;
}

.Other2 {
  background-color: lawngreen;
}

.Other3 {
  background-color: green;
}