body {
  margin: 0;
  padding: 0;
  height: 90%;
}

.App {
  background-image: url("euro2020-2.JPG");
  background-position: bottom; 
}

.Own1 {
  background-color: rgb(224, 163, 20);
}

.Own2 {
  background-color: rgb(224, 122, 20);
}

.Own3 {
  background-color: rgb(224, 54, 20);
}

.Other1 {
  background-color: rgb(201, 207, 23);
}

.Other2 {
  background-color: rgb(146, 207, 23);
}

.Other3 {
  background-color: rgb(32, 207, 23);
}