.bank {
  border-width: 2px;
}

.small {
  background-color: #555FFF;
}

.medium {
  background-color: #888AAA;
}

.large {
  background-color: orange;
}

.walter {
  background-color: #CCC111;
}

.drink {
  padding: 3px;
  margin-left: 2px;
  width: 120px;
}

.bigtext {
  font-weight: 4px;
  font-size: 18px;
  padding: 3px;
}

.deposit {
  width: 120px;
}
