.playerinput {
  font-size: 20px;
}

.own {
  background-color: red;
  color: white;
}

.other {
  background-color: green;
  color: white;
}

.narrow {
  margin-right: 10px;
}

.playersNarrow {
  width: 700px;
}

.referee {
  width: 500px;
}

.teamname {
  width: 180px;
  font-weight: bold;
}

.playername {
  padding-left: 10px;
}

.nameField {
  width: 125px;
}


