.participant {
  display: flex;
  align-items: center;
}

.participant > * {
  padding: 4px;
  margin: 4px;
}

.participant-name {
  display: inline-block;
  min-width: 80px;
}

.cheers {
  font-weight: 4px;
  font-size: 20px;
  font-weight: bold;
  background-color: cyan;
}

.status {
  font-weight: 4px;
  font-size: 20px;
  font-weight: bold;
}
